@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personal Riddle Database</h1>
    <p>Welcome to the number 1 riddle database software created by Samuel Midgley.</p>
</div>
